# Data & ML
numpy
pandas
scikit-learn
xgboost
imbalanced-learn
joblib

# MLflow
mlflow

# DVC
dvc
dvc-s3

# Database
sqlalchemy

# API
fastapi
uvicorn
pydantic

# Monitoring
evidently

# UI
gradio

# Utilities
python-dotenv
requests

# Visualization
matplotlib
seaborn

# Notebook
jupyter
ipykernel

# Testing
pytest
httpx